# Node
node_modules/
dist/
coverage/
*.log

# Variables de entorno
.env

# Python (Caché global)
**/__pycache__/
*.pyc

# Modelos y pesos pesados (Binarios IA)
*.onnx
*.bin
*.pt

# Audios temporales
*.wav
*.mp3
